<h1>Carrito</h1>
<ul>
    {{#each cart.products}}
    <li>
        <div id={{this.product._id}}>
            <h3>{{this.product.title}}</h3>
            <p>{{this.product.description}}</p>
            <p>code: {{this.product.code}}</p>
            <p>${{this.product.price}}</p>
            <p>status: {{this.product.status}}</p>
            <p>stock: {{this.product.stock}}</p>
            <p>categoria: {{this.product.category}}</p>
            <p>cantidad: {{quantity}}</p>
            {{#each this.product.thumbnails}}
            <img src={{this}} alt="imagen de producto">
            {{/each}}
            <br>
        </div>
    </li>
    {{/each}}
</ul>