<h1>Product</h1>
<div id="product">
    <div id={{id}}>
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>Code: {{this.code}}</p>
        <p>Status: {{this.status}}</p>
        <p>category: {{this.category}}</p>
        <p>${{this.price}}</p>
        <p>Cantidad Disponibles: {{this.stock}}</p>
        {{#each this.thumbnails}}
        <img src="{{this}}" alt="img" />
        {{/each}}
                {{#if this.stock}}
        <button id="addtoCart-{{this.id}}" ,>Agregar al carrito</button>
        {{else}}
            <p>Sin stock</p>
        {{/if}}
        <br />
    </div>
</div>

<script src="/js/products.js"></script>