<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/products">Ecommerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse p-2" id="navbarNav">
                <ul class="navbar-nav ms-auto d- flex-row justify-direction-start align-items-center">
                    {{#if (or (isEquals user.role "admin") (isEquals user.role "premium"))}}
                    <li class="nav-item">
                        <a href="/manageProducts" class="nav-link">Administrar Productos</a>
                    </li>
                    {{/if}}
                    {{#if (or (isEquals user.role "user") (isEquals user.role "premium"))}}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Carrito</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/messages">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user" class="nav-link">Mi Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <button id="logout" type="button" class="btn btn-danger">Cerrar Sesion</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{{#if cart.isEmpty}}
<h1>No hay productos en el carrito</h1>
{{else}}
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Carrito</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" aria-disabled="true">Pago</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Ticket</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="card">
            <ul class="list-group list-group-flush" style="list-style: none;">
                {{#each cart.products}}
                <li style="border-bottom-style: groove; border-width: 5px;">
                    <div id={{this.product._id}} class="container text-center">
                        <div class="row">
                            <div class="col d-flex justify-content-center align-items-center">
                                <img src="" class="card-img-top" alt="...">
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <h5>{{this.product.title}}</h5>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <p>Precio: ${{this.product.price}}</p>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <p>Cantidad: {{this.quantity}}</p>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <button id="deleteProduct{{this.product._id}}-Cart{{../cart._id}}"
                                    class="btn btn-danger">Quitar</button>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <div class="card-footer d-flex flex-row justify-content-start m-2">
                <h5>Total: ${{cart.total}}</h5>
            </div>
            <div class="d-flex flex-row justify-content-start m-2">
                <a href="/products">
                    <button class="btn btn-primary m-1">Seguir comprando</button>
                </a>
                <button id="clear-cart-{{cart._id}}" class="btn btn-warning m-1">Vaciar carrito</button>
                <button id="finalize-{{cart._id}}" class="btn btn-success m-1">Finalizar Compra</button>
            </div>
        </div>
    </div>
</div>
{{/if}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>
<script src="/js/logout.js"></script>