<h1>Carrito</h1>
<ul>
    {{#each cart.products}}
    <li>
        <div id={{this.product._id}}>
            <h3>{{this.product.title}}</h3>
            <p>{{this.product.description}}</p>
            <p>code: {{this.product.code}}</p>
            <p>${{this.product.price}}</p>
            <p>categoria: {{this.product.category}}</p>
            <p>cantidad: {{quantity}}</p>
            {{#each this.product.thumbnails}}
            <img src={{this}} alt="imagen de producto">
            {{/each}}
            <br>
            <button id="deleteProduct{{this.product._id}}-Cart{{../cart._id}}" ,>Quitar</button>
        </div>
    </li>
    {{/each}}
    <button>
        <a href="/products">Seguir comprando</a>
    </button>
    <button id="clear-cart">Vaciar carrito</button>
    <a href="/api/carts/{{cart._id}}/purchase">
        <button>Finalizar compra</button>
    </a>
</ul>

<script src="/js/products.js"></script>