<h1>Bienvenido {{user.first_name}}!</h1>
<div>
    <h2>User data</h2>
    <ul>
        <li>Email: {{user.email}}</li>
        <li>Rol: {{user.role}}</li>
    </ul>
</div>
<div>
    <a href="/cart/{{user.cartId}}">
        <button>
            Carrito
        </button>
    </a>
</div>
<div>
    <a href="/messages">
        <button>
            Chat
        </button>
    </a>
</div>

{{#isAdmin user.role "admin"}}
    <div>
        <a href="/administrator">
            <button>
                Administrador
            </button>
        </a>
    </div>
{{/isAdmin}}
<h2>
    Lista de productos
</h2>
<div id="products">
    <ul>
        {{#each products.products}}
        <li>
            <div id={{this.id}}>
                <p>{{this.title}}</p>
                <p>${{this.price}}</p>
                <p>Cantidad Disponibles: {{this.stock}}</p>
                {{#if this.stock}}
                <button id="pid-{{this.id}}-cid-{{../user.cartId}}">Agregar al carrito</button>
                {{else}}
                <button disabled>Agregar al carrito</button>
                {{/if}}
                <button id="deleteProduct-{{this.id}}">Eliminar producto</button>
                <a href="/product/{{this.id}}">
                    <button>Detalles del producto</button>
                </a>
                <br>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<div>
    {{#if hasPrevPAge}}
    <a href="/products?page={{prevPage}}&limit={{limit}}&sort={{sort}}&category={{category}}&status={{status}}">
        <button type="button">PrevPage</button>
    </a>
    {{else}}
    <button type="button" disabled>PrevPage</button>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit={{limit}}&sort={{sort}}&category={{category}}&status={{status}}">
        <button type="button">NextPage</button>
    </a>
    {{else}}
    <button type="button" disabled>NextPage</button>
    {{/if}}
</div>
<div>
    <button id="logout">Cerrar Sesion</button>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/products.js"></script>
    <script src="/js/logout.js"></script>