<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/products">Ecommerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse p-2" id="navbarNav">
                <ul class="navbar-nav ms-auto d-flex align-items-center">
                    {{#if (or (isEquals user.role "admin") (isEquals user.role "premium"))}}
                    <li class="nav-item">
                        <a href="/manageProducts" class="nav-link">Administrar Productos</a>
                    </li>
                    {{/if}}
                    {{#if (or (isEquals user.role "user") (isEquals user.role "premium"))}}
                    <li class="nav-item">
                        <a class="nav-link" href="/cart/{{user.cartId}}">Carrito</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/messages">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user" class="nav-link">Mi Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <button id="logout" type="button" class="btn btn-danger">Cerrar Sesion</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="configUser">
    <div class="userData">
        <h2>Usuario</h2>
        <ul class="userDataFields">
            <li>Nombre: {{user.first_name}}</li>
            <li>Apellido: {{user.last_name}}</li>
            <li>Age: {{user.age}}</li>
            <li>Email: {{user.email}}</li>
            <li>Rol: {{user.role}}</li>
        </ul>
    </div>
    <button type="button" class="btn btn-primary" id="restorePassword">Restaurar Contraseña</button>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/logout.js"></script>